<!doctype html>
<html>
    <head>
        <title>Solve Wordle</title>
        <meta name="description" content="Wordle Solver">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script>
            function reset()
            {
                location.href = "/"
            }
        </script>
        <script>
            function changeColor(id)
            {
                if (document.getElementById(id).style.backgroundColor == "rgb(106, 170, 100)"){
                    //if it's green, change to yellow
                    document.getElementById(id).style.backgroundColor = "#C9B458";
                }
                else if (document.getElementById(id).style.backgroundColor == "rgb(201, 180, 88)"){
                    //if it's yellow, change to gray
                    document.getElementById(id).style.backgroundColor = "#787C7E";
                }
                else{
                    //otherwise change to green
                    document.getElementById(id).style.backgroundColor = "#6AAA64";
                }
            }
        </script>

        <script>
            function changeChoice(selectID, wordID)
            {
                document.getElementById(selectID).setAttribute("value", document.getElementById(wordID).getAttribute("value"));   
            }
        </script>

        <script>
            function sendColors2(a,b,c,d,e)
            {
                choice = document.getElementById("choice").value

                if (/^[a-zA-Z]+$/.test(choice) && choice.length == 5){
                    let wordBefore = [a,b,c,d,e];
                    let wordAfter = "";
                    for (let i = 0; i < 5; i++){
                        if (document.getElementById(wordBefore[i]).style.backgroundColor == "rgb(106, 170, 100)"){//if it's green
                            wordAfter += "g";
                        } 
                        else if (document.getElementById(wordBefore[i]).style.backgroundColor == "rgb(201, 180, 88)"){//if it's yellow
                            wordAfter += "y";
                        } 
                        else{
                            wordAfter += "b";
                        }
                    }
                    let request = new XMLHttpRequest()
                    request.open('POST', `/3/${wordAfter}/${choice}`)        //https://stackoverflow.com/questions/3760319/how-to-force-a-program-to-wait-until-an-http-request-is-finished-in-javascript
                    request.send();
                    location.href = "/3"
                    }
                else if (choice.length != 5){
                    document.getElementById("submit").removeAttribute("hidden")
                    document.getElementById("submit").innerHTML = "Word must be 5 letters"
                }
                else{
                    document.getElementById("submit").removeAttribute("hidden")
                    document.getElementById("submit").innerHTML = "Word must not contain any special characters"
                }
                
            }
        </script>

        <!--font-family:"nyt-karnakcondensed";-->
        <style type="text/css">
            .appHeader {
                font-size: 28px;
                font-weight: 800;
                text-align: center;
                padding: 10px;
                border-bottom: solid lightgray 1px;
            }
        </style>

        <style type="text/css">
            .tableStyle {
                width: 100%;
                outline-style: none;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>

        <style type="text/css">
            .rowStyle {
                padding : 0px;
            }
        </style>

        <style type="text/css">
            .cellStyle {
                width: 50%;
                outline-style: none;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        </style>

        <style type="text/css">
            .tyleStyle {
                border: 2px solid lightgray; 
                width: 50px; 
                height: 50px; 
                border-radius: 0%;
            }
        </style>

    </head>
    <body onload= "loadPrevious({{colors}}, {{suggestions}})">

        <div class="appHeader" style=" display:flex; flex-direction: row; align-items: center; flex-wrap: nowrap;">
            <div style="width:100%; text-align:center; align-items: center; justify-content: center; padding-left: 3.5%;">Hurdle Wordle</div>
            <a href="https://www.linkedin.com/in/evan-strand-a33331195/" style="margin-left:auto; padding-right: 2%;">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="4 4 24 24" width="24" class="game-icon" data-testid="icon-help" ><path fill="var(--color-tone-1)" d="M14.8333 23H17.1666V20.6667H14.8333V23ZM15.9999 4.33334C9.55992 4.33334 4.33325 9.56001 4.33325 16C4.33325 22.44 9.55992 27.6667 15.9999 27.6667C22.4399 27.6667 27.6666 22.44 27.6666 16C27.6666 9.56001 22.4399 4.33334 15.9999 4.33334ZM15.9999 25.3333C10.8549 25.3333 6.66659 21.145 6.66659 16C6.66659 10.855 10.8549 6.66668 15.9999 6.66668C21.1449 6.66668 25.3333 10.855 25.3333 16C25.3333 21.145 21.1449 25.3333 15.9999 25.3333ZM15.9999 9.00001C13.4216 9.00001 11.3333 11.0883 11.3333 13.6667H13.6666C13.6666 12.3833 14.7166 11.3333 15.9999 11.3333C17.2833 11.3333 18.3333 12.3833 18.3333 13.6667C18.3333 16 14.8333 15.7083 14.8333 19.5H17.1666C17.1666 16.875 20.6666 16.5833 20.6666 13.6667C20.6666 11.0883 18.5783 9.00001 15.9999 9.00001Z"></path></svg>
            </a>
        </div>
        
        <div style="height: 5%"></div>
            
        <div class="container-fluid" style="text-align:center;">
            <table class="tableStyle">
                <tr class="rowStyle">
                    <th class="cellStyle" style="font-size: 26px; padding-top: 50px; padding-bottom: 5px;">Word</th>
                    <th class="cellStyle" style="font-size: 26px; padding-top: 50px; padding-bottom: 5px;">Colors</th>
                </tr>
                <tr class="rowStyle">
                    <td style="padding-bottom: 50px;">{{remaining}} left!</td>
                </tr>
                <!--Row 1-->
                <tr class="rowStyle">
                    <!--Suggestion-->
                    <td class="cellStyle">
                        <div class="row" style="justify-content: center; align-items: center;">
                            <input class="form-control" id="sug1" type="text" value="" aria-label="readonly input" readonly style="text-align: center; width: 50%; border-radius: 0px; border: 2px solid lightgray">  
                        </div>
                    </td>
                    <!--Input-->
                    <td class="cellStyle">
                        <div class="row" style="justify-content:center; align-items:center; padding-left:35px">
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="1a" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="1b" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="1c" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="1d" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="1e" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="col-1" style="width:100px;">
                            </div>
                        </div>
                    </td>
                </tr>
                <!--Row 2-->
                <tr class="rowStyle">
                    <!--Suggestion-->
                    <td class="cellStyle">
                        <label id="submit" style="color:red" hidden></label>
                        <div class="row" style="justify-content: center; align-items: center;">
                            <input class="form-control" list="topWords" placeholder="Enter word and view suggestions" style="text-align: center; width: 50%; border-radius: 0px; border: 2px solid lightgray" id="choice" value="">
                            <datalist id="topWords">
                                {% for i in range(remaining) %}
                                    <option value="{{top_words[i]}}">{{top_scores[i]}}
                                {% endfor %}
                            </datalist>
                        </div>
                    </td>
                    <!--Input-->
                    <td class="cellStyle">
                        <div class="row" style="justify-content:center; align-items:center; padding-left:35px">
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="2a" type="button" onclick="changeColor('2a')" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="2b" type="button" onclick="changeColor('2b')" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="2c" type="button" onclick="changeColor('2c')" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="2d" type="button" onclick="changeColor('2d')" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="2e" type="button" onclick="changeColor('2e')" aria-expanded="false">
                                </button>

                            </div>
                            <div class="col-1" style="width:100px;">
                                <button class="btn" style="background-color: #D3D6DA;" href="#" type="button" onclick="sendColors2('2a','2b','2c','2d','2e')">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                <!--Row 3-->
                <tr class="rowStyle">
                    <!--Suggestion-->
                    <td class="cellStyle">
                        <div class="row" style="justify-content: center; align-items: center;">
                            <input class="form-control" id="sug3" type="text" value="" aria-label="readonly input" readonly style="text-align: center; width: 50%; border-radius: 0px; border: 2px solid lightgray">  
                        </div>
                    </td>
                    <!--Input-->
                    <td class="cellStyle">
                        <div class="row" style="justify-content:center; align-items:center; padding-left:35px">
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="3a" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="3b" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="3c" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="3d" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="3e" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="col-1" style="width:100px;">
                            </div>
                        </div>
                    </td>
                </tr>
                <!--Row 4-->
                <tr class="rowStyle">
                    <!--Suggestion-->
                    <td class="cellStyle">
                        <div class="row" style="justify-content: center; align-items: center;">
                            <input class="form-control" id="sug4" type="text" value="" aria-label="readonly input" readonly style="text-align: center; width: 50%; border-radius: 0px; border: 2px solid lightgray">  
                        </div>
                    </td>
                    <!--Input-->
                    <td class="cellStyle">
                        <div class="row" style="justify-content:center; align-items:center; padding-left:35px">
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="4a" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="4b" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="4c" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="4d" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="4e" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="col-1" style="width:100px;">
                            </div>
                        </div>
                    </td>
                </tr>
                <!--Row 5-->
                <tr class="rowStyle">
                    <!--Suggestiong-->
                    <td class="cellStyle">
                        <div class="row" style="justify-content: center; align-items: center;">
                            <input class="form-control" id="sug5" type="text" value="" aria-label="readonly input" readonly style="text-align: center; width: 50%; border-radius: 0px; border: 2px solid lightgray">  
                        </div>
                    </td>
                    <!--Input-->
                    <td class="cellStyle">
                        <div class="row" style="justify-content:center; align-items:center; padding-left:35px">
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="5a" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="5b" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="5c" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="5d" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="5e" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="col-1" style="width:100px;">
                            </div>
                        </div>
                    </td>
                </tr>
                <!--Row 6-->
                <tr class="rowStyle">
                    <!--Suggestion-->
                    <td class="cellStyle">
                        <div class="row" style="justify-content: center; align-items: center;">
                            <input class="form-control" id="sug6" type="text" value="" aria-label="readonly input" readonly style="text-align: center; width: 50%; border-radius: 0px; border: 2px solid lightgray">  
                        </div>
                    </td>
                    <!--Input-->
                    <td class="cellStyle">
                        <div class="row" style="justify-content:center; align-items:center; padding-left:35px">
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="6a" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="6b" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="6c" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="6d" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="dropdown col-1" style="width:55px;">
                                <button class="btn" style="border: 2px solid lightgray; width: 50px; height: 50px; border-radius: 0%;" id="6e" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                            </div>
                            <div class="col-1" style="width:100px;">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <div style="padding-top:20px">
                <a class="btn" style="background-color: #D3D6DA;" role="button" onclick="reset()">Reset</a>
            </div>
            
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script>
            function loadPrevious(colors, suggestions)
            {
                function convertLetterToColor(letter)
                {
                    if (letter == "g"){
                        return "#6AAA64"
                    }
                    else if (letter == "y"){
                        return "#C9B458"
                    }
                    else{
                        return "#787C7E"
                    }
                }

                //console.log("hello from lpc", colors[0])
                document.getElementById('1a').style.backgroundColor = convertLetterToColor(colors[0][0]);
                document.getElementById('1b').style.backgroundColor = convertLetterToColor(colors[0][1]);
                document.getElementById('1c').style.backgroundColor = convertLetterToColor(colors[0][2]);
                document.getElementById('1d').style.backgroundColor = convertLetterToColor(colors[0][3]);
                document.getElementById('1e').style.backgroundColor = convertLetterToColor(colors[0][4]);

                document.getElementById('sug1').value = suggestions[0]
                //document.getElementById('sug2').value = suggestions[1]
            }
        </script>
    </body>
</html>